

.payment-page{
    display: flex;
    position: absolute;
    border: solid black 3px;
    box-shadow: 5px 7px rgb(220, 31, 6);
    border-radius: 20px;
    align-items: center;
    width: 50%;
    justify-content: center;
    left: 25%;
    top: 10%;
}